<%= form_for(group_controller) do |f| %>
  <% if group_controller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_controller.errors.count, "error") %> prohibited this group_controller from being saved:</h2>

      <ul>
      <% group_controller.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
