<header>
	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Loan-it</a>
      <ul id="nav-mobile">
        <div class="left hide-on-med-and-down col s6">
          <li *ngIf="userService.isLoggedIn() === false"><a [routerLink]="['login']">Sign-in</a></li>
          <li *ngIf="userService.isLoggedIn()" (click)="userService.logOut()"><a>Sign-out</a></li>
          <li *ngIf="userService.isLoggedIn()"><a [routerLink]="['brokendevices']">Broken Devices</a></li>
          <li><a [routerLink]="['createdevice']">Create Device</a></li>
        </div>
        <div class="right hide-on-med-and-down col s6"> 
          <li> Hello {{userName}}!</li>
        </div>
      </ul>
    </div>
  </nav>
</header>
<main>
  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <router-outlet></router-outlet>
</main>

