<p id="notice"><%= notice %></p>

<p>
  <strong>Signature:</strong>
  <%= image_tag @loan.signature.thumb.url %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', device_loans_path %>
